<li class="list-group-item rounded border-top topping-{{topping}}">
    {{ name }}
    {{#unless consumed}}
    <button class="btn border-light devour" data-id="{{id}}">
        DEVOUR
    </button>
    {{/unless}}
</li>